[build]
builder = "DOCKERFILE"
dockerfilePath = "./docker-compose.yml"

[deploy]
numReplicas = 1
healthcheckPath = "/api/health"
healthcheckTimeout = 300
restartPolicyType = "ON_FAILURE"
restartPolicyMaxRetries = 10

[environment]
MONGODB_URI = "mongodb://mongo:27017/hvsp"